$gridcolumns: 12;
$gridwidth: 1200px; 

$colorWhite: #fff;
$colorBlack: #000;
$colorYellow: #f4ca20;
$colorSilver: #f1f1f1;
$colorGrey: #2e2e31;
$colorGreyOpacity: #a2a2a2;


$breakpoints:(
    tablet: 768px,
    desktop:992px,
    desktopbig:1200px,
);


